<div class="detail name">
  <span>Name:</span> {{model.name}}
</div>
<div class="detail address">
  <span>Address:</span> {{model.address}}
</div>
<div class="detail start-rating">
  <span>Star Rating:</span> {{model.star_rating}}
</div>
<div class="detail accomodation-type">
  <span>Accomodation Type:</span> {{model.accomodation_type.name}}
</div>
