<h2>Hotels</h2>

{{#each model as |hotel|}}
  <article class="listing">
    <h3>{{hotel.name}}</h3>
    <div class="detail owner">
      <span>Owner:</span> {{hotel.address}}
    </div>
    <div class="detail type">
      <span>Star Rating:</span> {{hotel.star_rating}}
    </div>
    <div class="detail location">
      <span>Accomodation Type:</span> {{hotel.accomodation_type.name}}
    </div>
  </article>
{{/each}}
